<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>VKTest</servlet-name>
		<servlet-class>com.sheremet.VKTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VKTest</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VKUpload</servlet-name>
		<servlet-class>com.sheremet.VKUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VKUpload</servlet-name>
		<url-pattern>/u</url-pattern>
	</servlet-mapping>
	<servlet>

		<servlet-name>welcome</servlet-name>

		<jsp-file>index.jsp</jsp-file>

	</servlet>

	<servlet-mapping>

		<servlet-name>welcome</servlet-name>

		<url-pattern>/index</url-pattern>

	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
